<!DOCTYPE html>
<html>
 <head>
   <title>main</title>
   <script type="application/javascript" src="{{ static_url("main_source.js") }}"></script>
   <script type="application/javascript" src="{{ static_url("crypto.js") }}"></script>
   <link rel="stylesheet" type="text/css" href="{{ static_url("style_of_login.css") }}"/>
   
   <meta charset="utf-8">
 </head>
<body>

 <div id="LOGIN">
     <p><div id="login"></div></p>
     <p><div id="pass_one"></div></p>
     <p><div id="pass_two"></div></p>
     <p><div id="mail"></div></p>
     <p><div id="regist"></div></p>
     <p><div id="ident"></div></p>
 </div>
 
 <div id="SHOW_ROOMS">
 main page
 </div>

</body>
</html>
